@font-face {
	font-family: 'Poppins-Black';
	src: url('../FG/Poppins/Poppins-Black.ttf');
	src: url('../FG/Poppins/Poppins-Black.ttf') format('ttf'),
	     url('../FG/Poppins/Poppins-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins-BlackItalic';
	src: url('../FG/Poppins/Poppins-BlackItalic.ttf');
	src: url('../FG/Poppins/Poppins-BlackItalic.ttf') format('ttf'),
	     url('../FG/Poppins/Poppins-BlackItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins-Bold';
	src: url('../FG/Poppins/Poppins-Bold.ttf');
	src: url('../FG/Poppins/Poppins-Bold.ttf') format('ttf'),
	     url('../FG/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins-ExtraBold';
	src: url('../FG/Poppins/Poppins-ExtraBold.ttf');
	src: url('../FG/Poppins/Poppins-ExtraBold.ttf') format('ttf'),
	     url('../FG/Poppins/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins-Light';
	src: url('../FG/Poppins/Poppins-Light.ttf');
	src: url('../FG/Poppins/Poppins-Light.ttf') format('ttf'),
	     url('../FG/Poppins/Poppins-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins-Medium';
	src: url('../FG/Poppins/Poppins-Medium.ttf');
	src: url('../FG/Poppins/Poppins-Medium.ttf') format('ttf'),
	     url('../FG/Poppins/Poppins-Medium.ttf') format('truetype');
}

.GP1{
    font-family: 'Poppins-Black';
}
.GP2{
    font-family: 'Poppins-BlackItalic';
}
.GP3{
    font-family: 'Poppins-Bold';
}
.GP4{
    font-family: 'Poppins-ExtraBold';
}
.GP5{
    font-family: 'Poppins-Light';
}
.GP6{
    font-family: 'Poppins-Medium';
}