/* ---------------------------------------------------------- UMUM ---------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
  }
body{
    margin: 0;
}

/* ----------------------------------------------------------- PUSO ------------------------------------------------------------------------ */
.puso{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .puso{
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .puso{
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .puso{
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .puso{
      max-width: 1140px;
    }
  }
  /* -------------------------------------------------------- R-COLOMBIA & COLOMBIA  / PER KOLOM ------------------------------------------------------------------- */
  /* contoh 1:  div.r-colombia > div.colombia2/3/4 */
  /* contoh 1.2: div.r-colombia > div.colombia2 ,div.colombia2 //ini untuk yg dua kalo tiga iya tiga jadinya dab seterusnya*/ 
  /* colombia2 artinya dua kolom / 3 artinya 3 colom dan seterusnya */
  .colombia2{
    float: left;
    width: 50%;
    padding: 10px;
    height: auto; 
  }
  .colombia3 {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto; 
  }
  .colombia4 {
    float: left;
    width: 25%;
    padding: 10px;
    height: auto; 
  }
  
  .r-colombia:after {
    content: "";
    display: table;
    clear: both;
  }
/* -------------------------------------------------------- KARDUS  / PER CARD------------------------------------------------------------------- */
/* contoh 1: div.r-kardus > div.c-kardus2/3/4 > div.kardus */
/* contoh 1.2: div.r-kardus > div.c-kardus2 ,div.c-kardus2 > div,kardus //ini untuk yg dua kalo tiga iya tiga jadinya dan seterusnya*/ 
.r-kardus {margin: 0 -5px;}

.r-kardus:after {
  content: "";
  display: table;
  clear: both;
}

.c-kardus2{
  float: left;
  width: 50%;
  padding: 0 10px;
}
.c-kardus3{
  float: left;
  width: 33.33%;
  padding: 0 10px;
}
.c-kardus4{
  float: left;
  width: 25%;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  .c-kardus2,.c-kardus3,.c-kardus4{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.kardus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* --------------------------------------------------------- TWO-COL -------------------------------------------------------------- */
/* contoh normal 1: body.bodyTWO-COL() > r-TWO-COL > left-TWO-COL-25 - right-TWO-CAL-75 > c-TWO-CAL > h2 , h5 , img, p,p  */
/* contoh normal 2: body.bodyTWO-COL() > r-TWO-COL > left-TWO-COL-75 - right-TWO-CAL-25 > c-TWO-CAL > h2 , h5 , img, p,p  */
/* contoh normal 3: body.bodyTWO-COL() > r-TWO-COL > left-TWO-COL-50 - right-TWO-CAL-50 > c-TWO-CAL > h2 , h5 , img, p,p  */

/* body */
.body-TWO-COL{
  padding: 20px;
  background: #f1f1f1;
}

.left-TWO-COL-75 {   
  float: left;
  width: 75%;
}


.right-TWO-COL-25 {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.left-TWO-COL-25 {   
  float: left;
  width: 25%;
  padding-right: 20px;
}


.right-TWO-COL-75 {
  float: left;
  width: 75%;
  
}

.left-TWO-COL-50 {   
  float: left;
  width: 50%;
  padding-right: 20px;
}


.right-TWO-COL-50 {
  float: left;
  width: 50%;
  
}

.c-TWO-COL {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}


.r-TWO-COL:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 800px) {
  .left-TWO-COL-75, .right-TWO-COL-25, .left-TWO-COL-25, .right-TWO-COL-75,  .left-TWO-COL-50, .right-TWO-COL-50{   
    width: 100%;
    padding: 0;
  }
}
/* --------------------------------------------- HEADER ----------------------------------------------------------------------- */
.header1 {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #ddd;
}
/* -------------------------------------------- FOOTER ----------------------------------------------------------------------- */
.footer1 {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/*------------------------------------------------------------- IMG -------------------------------------------------------------*/
.img-fluid {
  max-width: 100%;
  height: auto;
}
.img{
  width: 100%;
  height: auto;
}
/* ----------------------------------------------------- TEXT COLOR -------------------------------------------------------------*/
.text-white {
  color: #fff !important;
}

.text-primary {
  color: #007bff !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: #0056b3 !important;
}

.text-secondary {
  color: #6c757d !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: #494f54 !important;
}

.text-success {
  color: #28a745 !important;
}

a.text-success:hover, a.text-success:focus {
  color: #19692c !important;
}

.text-info {
  color: #17a2b8 !important;
}

a.text-info:hover, a.text-info:focus {
  color: #0f6674 !important;
}

.text-warning {
  color: #ffc107 !important;
}

a.text-warning:hover, a.text-warning:focus {
  color: #ba8b00 !important;
}

.text-danger {
  color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
  color: #a71d2a !important;
}

.text-light {
  color: #f8f9fa !important;
}

a.text-light:hover, a.text-light:focus {
  color: #cbd3da !important;
}

.text-dark {
  color: #343a40 !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: #121416 !important;
}

.text-body {
  color: #212529 !important;
}

.text-muted {
  color: #6c757d !important;
}
/*-------------------------------------------------- BACKGROUND -------------------------------------------------------- */
.bg-primary {
  background-color: #007bff !important;
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-warning {
  background-color: #ffc107 !important;
}
.bg-danger {
  background-color: #dc3545 !important;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.bg-dark {
  background-color: #343a40 !important;
}
.bg-white {
  background-color: #fff !important;
}
.bg-transparent {
  background-color: transparent !important;
}
/* ------------------------------------------------ NAVBAR 1 --------------------------------------------------------- */
/* contoh : ul.ul-navbar1 > li.li-navbar1,li.navbar1/li.li-navbar1-c,li.li-navbar1-c sesuai kebutuhan kodinganya di file tugas2 */ 
/* keterangan li-navbar-c ditambah class float-r / float-l */

.ul-navbar1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #62d7d5;
  background-color: #62d7d5;

}

.li-navbar1 {
  float: left;
}

.li-navbar1 a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
.li-navbar1-c a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
.li-navbar1-c a:hover:not(.active-navbar1) {
  background: #44adab;
-webkit-transition: 2s;
 transition: 2s;
 border-radius: 50px;
}
.li-navbar1 a:hover:not(.active-navbar1) {
    background: #44adab;
  -webkit-transition: 2s;
   transition: 2s;
   border-radius: 50px;
}

.li-navbar1 a.active-navbar1 {
  color: rgb(0, 0, 0, 0.5);
  background-color: #acfffe;
  border-radius: 30px;
}
.li-navbar1-c a.active-navbar1 {
  color: rgb(0, 0, 0, 0.5);
  background-color: #acfffe;
  border-radius: 30px;
}
/* ------------------------------------------------ NAVBAR 2 --------------------------------------------------------- */
/* contoh : ul.ul-navbar2 > li.li-navbar2,a.active-navbar2 sesuai kebutuhan yg activenya dimana contohnya ditugas3*/
.ul-navbar2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(20, 17, 37);
}

.li-navbar2 {
  float: left;
}

.li-navbar2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li-navbar2 a:hover:not(.active) {
  background-color: #fa5c5c;
}

.active-navbar2 {
  background-color:#7ce0e2;
  
}
.active-navbar2:hover {
  background-color:#fada5c !important;
  
}


/* ----------------------------------------------------------------- FLOAT ----------------------------------------------------------------------- */
.float-r{
  float: right !important;
}
.float-l{
  float: left !important;
}
/*-------------------------------------------------------- FORM KONTS / FORM CONTROL----------------------------------------------------------------    */
.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}
.form-konts {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-konts {
    transition: none;
  }
}

.form-konts::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-konts:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-konts::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-konts::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-konts:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-konts::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-konts::placeholder {
  color: #6c757d;
  opacity: 1;
}
/* ---------------------------------------------------------- HR ----------------------------------------------------------------------- */
.hr-white{
  border-collapse: collapse;
  border-top: white;
}
/*------------------------------------------------------ BS-----------------------------------------------------------------------  */
.bs1{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
}
.bs2{
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .1);
}
.bs3{
  -webkit-box-shadow: -2px -14px 19px -6px rgba(219,219,219,1);
  -moz-box-shadow: -2px -14px 19px -6px rgba(219,219,219,1);
  box-shadow: -2px -14px 19px -6px rgba(219,219,219,1);
}
/* -----------------------------------------------------------KARDUS / CARD------------------------------------------------------------------ */
/* contoh div.KARDUS-D > DIV.KARDUS, DIV.KARDUS,DIV.KARDUS,DIV.KARDUS > img-fluid-KARDUS > div.CARD-B > h5,h5,p,small */
.KARDUS-D {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.KARDUS-D .KARDUS {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .KARDUS-D {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .KARDUS-D .KARDUS {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}
.KARDUS {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.KARDUS-B {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.img-fluid-KARDUS {
  max-width: 100%;
  height: 200px;
}
/* ----------------------------------------------------------- SCALE 1 ---------------------------------------------------------- */
/* biasanya dipake di card/KARDUS/COLOMBIA */
.scale1{
  -webkit-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.scale1:hover{
  -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    border: transparent;
}