.divbor1{
	border-bottom: 2px solid #fff;
    box-shadow: 0px 0px 110px rgba(0, 255, 252, 2);
}

.divbor01{
	border-bottom: 2px solid #f1f1f1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
}

.nav_s1{
	
    border-top-color: rgb(255, , 246);
    border-right-color: rgb(255, 0, 246);
    border-bottom-color: rgb(255, 0, 246);
    border-left-color: rgb(255, 0, 246);
    box-shadow: 0px 0px 10px rgba(0, 255, 252, 1);
}

.nav_s01{
	background-color: #f0f0f0;
	border-color: #e7e7e7;
    border-top-color: rgb(231, 231, 231);
    border-right-color: rgb(231, 231, 231);
    border-bottom-color: rgb(231, 231, 231);
    border-left-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 30px  rgba(0, 0, 0, 0.25);
}

.bg-light {
    background-color: #f8f9fa !important;
}

@media (min-width: 992px){
.con01 {
    max-width: 960px;
}
}

.con01 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.breadc_a01{
	font-size: 1.3rem !important;
	text-decoration: none;
}

.breadc_spn01{
	font-weight: 500;
	font-size: 11pt;
	
}

.pd01{
	padding-bottom: 30px;
	padding-top: 30px;
}